########################################################
# http://AtdheNet.TV
########################################################
@IF(@PARAM1@!=CATCH)@

start=http://goatd.net
skill=videoTitle
catcher=streams

item_infos=<img src="([^"]+)"[^<]*</td>\s*<td[^<]*<b><a href="([^"]+)"[^>]*>([^<]+)</a>
item_order=icon|url.tmp|title
item_skill=rss

item_info_name=cfg
item_info_build=atdee.net.cfg@CATCH

item_info_name=url
item_info_from=url.tmp
item_info_build=http://goatd.net/%s

item_url_build=%s

################################################################
item_infos=<img src="([^"]+)"[^<]*</td>\s*<td[^<]*<b><a href="([^"]+)"[^>]*>([^<]+)</a></b><font [^<]*</font></td>\s*<td[^<]*<a[^<]*<img[^<]*</a> <a[^>]*cat="([^"]+)".*?<b>([^<]+)</b>
item_order=icon|url.tmp|event|cat.tmp|time.tmp
item_skill=rss

item_info_name=cat
item_info_from=cat.tmp
item_info_convert=camelcase('%s')
item_info_convert=replace('%s','Afootball','Am.Football')
item_info_convert=replace('%s','Basketball2','Basketball')
item_info_build=%s

item_info_name=time
item_info_from=time.tmp
item_info_convert=replace('%s',' CET','')
item_info_convert=offset('%s','+01:00')
item_info_build=%s

item_info_name=title
item_info_from='(' + time + ')' + ' ' + cat + ':' + ' ' + event
item_info_build=%s

item_info_name=cfg
item_info_build=atdee.net.cfg@CATCH

item_info_name=url
item_info_from=url.tmp
item_info_build=http://goatd.net/%s

item_url_build=%s

@ENDIF@

@IF(@PARAM1@==CATCH)@

skill=autoselect
#catcher=streams

item_infos=write\(unescape\( '([^']+)'
item_order=url.tmp
item_skill=rss

item_info_name=url
item_info_from=url.tmp
item_info_convert=decodeRawUnicode('%s')
item_info_convert=demystify('%s')
item_info_convert=decodeRawUnicode('%s')
item_info_convert=debug
item_info_convert=replace('%s','framesrc="','')
item_info_convert=replace('%s','"id="innerIframe"','')
item_info_convert=replace('%s','scrolling="no"width="600"height="400"frameborder="0"></iframe>','')
item_info_build=%s

item_url_build=%s

########################################################
item_infos=src=["']([^\"\']*sawlive.tv/embed/[^"'/]+)
item_order=video
@CATCH(sawlive,video)@

########################################################
@FIND('JS1','[^\"\']*castalba.tv[^\"\']*','id','video')@
item_precheck=goatd
@CATCH(atdee,video)@

########################################################
# CastAMP - Videos
########################################################
@FIND('JS1','http://(?:www.)?castamp.com/embed.js','channel','video')@
item_precheck=castamp.com/embed
@CATCH(castamp,video)@
########################################################
item_infos="http://(?:www.)?castamp.com/embed.php\?c=([^"&]+)
item_precheck=castamp.com
item_order=video
@CATCH(castamp,video)@

@ENDIF@
