########################################################
# Direct links
########################################################
sort=name
########################################################
title=Cricfree.tv
director=cricfree.tv
icon=http://cricfree.tv/images/cricfree.png
url=tv/cricfree.tv.cfg
########################################################
title=CoolSport.tv
director=Coolsportz.de
icon=sports.devil.image|coolsportz_de.png
url=tv/coolsportz.de.cfg
########################################################
title=Cricket
director=Cricket
icon=http://theclipartwizard.com/images/Cricket.png
url=tv/cricket.cfg
########################################################
title=iGole.tv
director=ligahd.com
icon=http://www.ihdsports.com/templates/theme676/images/logo.png
url=tv/ligahd.com.cfg
########################################################
title=iLive.to-Sports
director=ilive.to-sports
icon=http://tinyurl.com/cefh6w3
url=tv/ilive.to-sports.cfg
########################################################
title=HD AceStreams
director=HD P2P
icon=http://static.torrentstream.org/sites/acestream-org/1280/img/logo.png
url=tv/hd.p2p.cfg
#######################################################
title=ShowSport.com
director=showsport-tv.com
icon=http://showsport-tv.com/images/logo.png
url=tv/showsport-tv.com.cfg
########################################################
title=HDFooty.tv
director=hdfooty.tv
icon=
url=tv/hdfooty.tv.cfg
########################################################
title=FifaEmbed.com
director=fifaembed.com
icon=
url=tv/fifaembed.com.cfg
########################################################
title=CricHD.tv
director=crichd.tv
icon=http://crichd.tv/images/logo.png
url=tv/crichd.tv.cfg
########################################################
title=StreamKing.org
director=streamking.org
icon=
url=tv/streamking.org.cfg
########################################################
title=U-Peak.me
director=u-peak.me
icon=
url=tv/u-peak.me.cfg
########################################################
title=SoccerEmbed.com
director=SoccerEmbed.com
icon=http://soccerembed.com/images/logo.png
url=tv/SoccerEmbed.com.cfg
########################################################
title=StreamHD.eu
director=streamhd.eu
icon=http://streamhd.eu/images/logo.png
url=tv/streamhd.eu.cfg
########################################################
title=HitSports.net
director=hitsports.net
icon=http://hitsports.net/img/logo.png
url=tv/hitsports.net.cfg