<settings>
   <category label="Addon-Settings">
    <setting id="domainurl" type="enum" values="azdrama.net|www.azdrama.info|www1.azdrama.net" label="domain" default="0" enable="true" />
   </category>
<category label="Auto-View">
  <setting id="ga_time" type="text" label="GA Called" default="2000-01-01 00:00:00" visible="false"/>
  <setting id="ga_visitor" type="text" label="GA visitor" default="" visible="false"/>
</category>
</settings>